{% extends 'base.html' %}



{% block body %}


<section class="py-5">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-6">
          <div class="border rounded-4 mb-3 d-flex justify-content-center">
            <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="">
              <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="{{product.productImg.url}}" />
            </a>
          </div>

          <!-- thumbs-wrap.// -->
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
             <br />
              {{product.productTitle}}
            </h4>
            <div class="d-flex flex-row my-3">
              <div class="text-warning mb-1 me-2">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span class="ms-1">
                  4.5
                </span>
              </div>
              <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 orders</span>
              <span class="text-success ms-2">{{product.productStock}} adet stokta mevcuttur.</span>
            </div>
  
            <div class="mb-3">
              <span class="h5">{{product.productPrice}} TL</span>
              <span class="text-muted"></span>
            </div>
  
            <p>
              
              {{product.productDesct|linebreaks}}
            </p>
  
            <div class="row ">
              <dt class="col-3">Marka:</dt>
              <dd class="col-9">{{product.productBrand.title}}</dd>
  
              <dt class="col-3">Renk</dt>
              <select style="width: fit-content;" class="col-9">
                
                {% for i in productcolor  %}                    
                <option  value="{{i.title}}">{{i.title}}</option>
                {% endfor %}    
              </select>


              <div class="mt-3 d-flex">
                  <dt class="col-3 flex-column">Depolama</dt>
                  <select style="width: fit-content;" class="col-9">
                    
                    {% for i in productstorage  %}                    
                    <option  value="{{i.title}}">{{i.title}} GB</option>
                    {% endfor %}    
                  </select>
              </div>
            </div>
  
            <hr />
  
            <div class="row mb-4">
              <!-- col.// -->
              <div class="col-md-4 col-6 mb-3">
                <label class="mb-2 d-block">Miktar</label>
                <div class="input-group mb-3" style="width: 170px;">
                  <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1" data-mdb-ripple-color="dark">
                    <i class="fas fa-minus"></i>
                  </button>
                  <input type="text" class="form-control text-center border border-secondary" placeholder="1" aria-label="Example text with button addon" aria-describedby="button-addon1" />
                  <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
            <form action="{% url 'urunekle' id=product.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" href="#" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i> Sepete Ekle </button>
            </form>
            <a href="#" class="btn btn-light border border-secondary py-2 icon-hover px-3"> <i class="me-1 fa fa-heart fa-lg"></i> Favoriler </a>
          </div>
        </main>

        <section>
          <div class="container my-5 py-5">
            <div class="row d-flex justify-content-center">
               <div class="col-md-12 col-lg-10 col-xl-8">

                <section class="gradient-custom">
                  <div class="container my-5 py-5">
                    <div class="row d-flex justify-content-center">
                      <div class="col-md-12 col-lg-10 col-xl-8">
                        <div class="card">
                          <div class="card-body p-4">
                            <h4 class="text-center mb-4 pb-2">Nested comments section</h4>
                            
                            <div class="row">
                              {% for i in comment %}
                              <div class="col">
                                <div class="d-flex flex-start">
                                  <img class="rounded-circle shadow-1-strong me-3"
                                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar" width="65"
                                    height="65" />
                                  <div class="flex-grow-1 flex-shrink-1">
                                      <div class="d-flex justify-content-between align-items-center">
                                        <p class="mb-1">
                                          Maria Smantha <span class="small">- 2 hours ago</span>
                                        </p>
                                        <a href="#!"><i class="fas fa-reply fa-xs"></i><span class="small"> reply</span></a>
                                      </div>
                                      <p class="small mb-0">
                                       {{i.commentText}}
                                      </p>
                                  </div>
                                </div>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

                  {% if request.user.is_authenticated %}
                  <form action="" method="POST">
                    {% csrf_token %}
                  <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                    <div class="d-flex flex-start w-100">
                      <img class="rounded-circle shadow-1-strong me-3"
                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="40"
                        height="40" />
                          
                        
                        <div class="form-outline w-100">
                          <input class="form-control" id="textAreaExample" rows="4"
                          style="background: #fff; height:fit-content;" name="comment"></input>
                          <label class="form-label" for="textAreaExample">Message</label>
                        </div>
                      </div>
                      <div class="float-end mt-2 pt-1">
                        <button type="submit" class="btn btn-yorum btn-sm">Yorum Yap</button>
                        <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
                      </div>
                    </div>
                  </form>

                  {% else %}
                  <h3>Yorum Yorum yapabilmek için <a href="/girisyap/"> giriş yap</a></h3>
                  
                  {% endif %}

                </div>
              </div>
            </div>
          </div>
        </section>


    
{% endblock body %}
    